{% extends 'dashboard/base.html' %}

{% block title %}Cadastro | Mnemosine{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md">
        <h2 class="text-3xl font-extrabold text-center text-gray-900">
            Crie sua conta
        </h2>
        
        <form class="mt-8 space-y-6" method="post" autocomplete="off">
            {% csrf_token %}
            
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="p-2 text-sm text-red-700 bg-red-100 rounded-lg">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            <div class="space-y-4 rounded-md shadow-sm">
                 <div>
                    <label for="id_username" class="sr-only">Usuário</label>
                    <input type="text" name="username" id="id_username" class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Nome de usuário" required>
                </div>
                 <div>
                    <label for="id_password1" class="sr-only">Senha</label>
                    <input type="password" name="password1" id="id_password1" class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Senha" required>
                </div>
                 <div>
                    <label for="id_password2" class="sr-only">Confirme a senha</label>
                    <input type="password" name="password2" id="id_password2" class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Confirme a senha" required>
                </div>
            </div>

            <div>
                <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Cadastrar
                </button>
            </div>
        </form>
         <p class="mt-2 text-sm text-center text-gray-600">
            Já tem uma conta?
            <a href="{% url 'login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
                Faça login
            </a>
        </p>
    </div>
</div>
{% endblock %}