{% extends 'dashboard/base.html' %}

{% block title %}Login | Mnemosine{% endblock %}

{% block content %}
<div class="flex items-center justify-center w-full h-full">
    <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md m-4">
        <h2 class="text-3xl font-extrabold text-center text-gray-900">
            Bem-vindo de volta!
        </h2>
        
        <form class="mt-8 space-y-6" method="post" autocomplete="off">
            {% csrf_token %}

            {% if form.errors %}
                <div class="p-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
                    Usuário ou senha incorretos. Por favor, tente novamente.
                </div>
            {% endif %}

            <div class="space-y-4 rounded-md shadow-sm">
                <div>
                    <label for="id_username" class="sr-only">Usuário</label>
                    <input id="id_username" name="username" type="text" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Usuário">
                </div>
                <div>
                    <label for="id_password" class="sr-only">Senha</label>
                    <input id="id_password" name="password" type="password" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Senha">
                </div>
            </div>

            <div>
                <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Entrar
                </button>
            </div>
        </form>
        <p class="mt-2 text-sm text-center text-gray-600">
            Não tem uma conta?
            <a href="{% url 'cadastro' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
                Cadastre-se
            </a>
        </p>
    </div>
</div>
{% endblock %}